.login-twitter-logo{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.login__heading{
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 35px;
}
.login-form{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.login-form__input{
    border:none;
    outline: none;
    border-radius: 25px;
    font-size: 30px;
    padding: 15px 10px;
    background-color: #F2F2FC;
    display: block;
    width: 100%;
    margin-bottom:20px ;

}
.login-form__input::placeholder{
     color: #9b9ba8;

}

.login-form__btn{
    width: 100%;
      font-size: 22px;
      border-radius: 25px;
      border: none;
      background-color: #1E90FF;
      padding: 15px;
      color: #fff;
      cursor: pointer;
      transition: all .4s;
}
.login-form__btn:hover{
  background-color: #137ae2;
}
.signup-link{
    margin: 10px 0;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #1E90FF;
    background-color: #F2F2FC ;
    border: 1px solid #1E90FF;
    padding: 12px;
    border-radius: 25px;
    display: block;
    font-size: 22px;

}
.forgot-password{
    text-decoration: none;
    color: #1E90FF;

}     


